.error {
    color: red;
    display: block;
}

.message {
    color: blue;
    display: block
}

input[type="password"] {
    width: 300px;
    margin-bottom: 20px;
}

/* Login Container */
.login  { /* all login elements */
    padding-left: 20px;
}

.login span { /* WLabel */
    display: block;
}

.login img {
    display: block;
    float: left;
    margin-right: 10px;

}

.login h1 {
    display: block;
    margin-bottom: 25px;
    margin-top: 20px;

}

.login input[type="text"] { /* WLineEdit */
    width: 300px;
    margin-bottom: 20px;
}

.login button { /* WPushButton */
    margin-bottom: 20px;
}

.register-user { /* register user container */
    width: 350px;
}

/* Overview Tab */
.overview {

}

/* Transactions Tab */
.transaction {

}

/* Forecasting Tab */
.forecasting {
    padding-left: 20px;
}

.forecasting fieldset { /* WGroupBox */
    padding-right: 50px;
    margin-bottom: 50px;
}

.forecasting select { /* WComboBox */
    width: 300px;
    margin-bottom: 10px;
}

.forecasting input[type="text"] { /* WLineEdit */
    width: 300px;
    margin-bottom: 10px;
    display: block;
}

.forecasting button { /* WPushButton */
    margin-top: 10px;
}

.forecasting div {
    margin-bottom: 20px;
}

.progress .bar-label {
    font-weight: bold;
}

/* Settings Tab */
.settings {
    padding-left: 20px;
}

.settings fieldset { /*  WGroupBox */
    padding-right: 50px;
    padding-bottom: 50px;
}

.settings input[type="text"] { /* WLineEdit */
    width: 300px;
    margin-bottom: 20px;
}

.settings select {
    margin-bottom: 20px;
}

.settings td:last-child {
    text-align: center;
}